.projects_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.projects_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.description{
    margin-bottom: 1rem;
    font-size: 13px;
}
.projects_item:hover{
    border-color: var(--color-primary);
    background: transparent;
}

.projects_item_image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.projects_item h3{
    margin: 1.2rem  0 2rem ;
}
.project_item{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem ;
}
@media screen and (max-width:1024px){
    .projects_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
 
}

@media screen and (max-width:600px){
    .projects_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
