header{
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header_container{
  text-align: center;
  height: 100%;
  position: relative;
}
/* ===============contact==================== */
.contact{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
/* ===============Social-Media==================== */
.social_media{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0rem;
  bottom: 3rem;
}
.social_media::after{
  content:"";
  width: 1px;
  height: 2rem;
  background: var(--color-bg)
}
.me{
  background:linear-gradient(var(--color-bg), transparent);
  width:24rem;
  height: 24rem;
  position: absolute;
  left: calc(50% - 12rem);;
  position: absolute;
  margin-top: 3rem;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 14rem 13rem 0;
}
@media screen and (max-width:1024px){
  header{
      height: 120vh;
  }
}
@media screen and (max-width:600px){
  header{
    height: 100vh;
  }
  .header_container .social_media{
    display: none;

  }
}